
{% extends 'components/base.html' %}
{% block content %}

<main class="main">

  <section class="owner-section">
    <div class="firsthalf">
      <a class="logo" href="https://www.transparenciainternacional.org.br/">
        <img class="image" src="{{ site_logo }}" alt="e-Democracia da {{ site_name }}">
      </a>
    </div>
    <div class="secondhalf">
      <p class="briefing">Bem-vindo e bem-vinda à plataforma de consulta pública das <span class="owner">Novas Medidas contra a Corrupção</span>. Este portal foi criado para garantir que toda a sociedade possa participar da construção do maior pacote de medidas anticorrupção do mundo. Conheça todas as propostas e ajude a aprimorá-las.</p>
    </div>
  </section>

  {% if AUDIENCIAS_ENABLED %}
    {% include 'audiencias-section.html' %}
  {% endif %}
  
  {% if WIKILEGIS_ENABLED %}
    {% include 'wikilegis-section.html' %}
  {% endif %}
  
  {% if DISCOURSE_ENABLED %}
    {% include 'discourse-section.html' %}
  {% endif %}
  
  {% if PAUTAS_ENABLED %}
    {% include 'pautas-section.html' %}
  {% endif %}


</main>

{% endblock content %}
