{% load staticfiles %}

<footer class="footer">
  <img class="logo" src="{% static "img/edem-logo-full.png" %}" alt="e-Democracia" >
  <div class="briefing">
 	<p class="text">O Wikilegis é parte do e-Democracia, uma ferramenta desenvolvida pelo Laboratório Hacker da Câmara dos Deputados. Tem por objetivo ampliar a participação social no processo legislativo e aproximar cidadãos e seus representantes por meio da interação digital. Encontra-se disponível, em código aberto, para download no Github do <a class="owner" href="https://github.com/eDemocracia">e-Democracia</a>.</p>
 </div>
</footer>