{% load staticfiles %}

<footer class="footer">
  <img class="logo" src="{% static "img/edem-logo-full.png" %}" alt="e-Democracia" >
  <div class="briefing">
    <p class="text">Este é o e-Democracia <span class="owner">Novas Medidas contra a Corrupção</span>. Este Portal foi criado para garantir que toda a sociedade possa participar da construção do maior pacote de medidas anticorrupção do mundo. Pretendemos, neste última fase de construção do pacote, tornar públicas todas as medidas propostas e receber as contribuições para aprimorá-las.</p>
</footer>